$light: #dfe4ed;
$dark: #101828;
$gray: #667085;
$light-gray: #d0d5dd;
$white: #ffffff;
$black: #000000;
$primary-dark: #00cc90;
$primary-light: #3b42e1;

$colors-plate: (
  light: $light,
  dark: $dark,
);

$grid-breakpoints: (
  tiny: 0px,
  xs: 320px,
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
);

$z-index: (
  negative: -1,
  zero: 0,
  one: 1,
  header: 100,
  reading-progress: 101,
  modal: 102,
);

$font-serif: "Playfair Display", serif;
$font-sans: "Source Sans Pro", sans-serif;
$font-syne: "Syne", sans-serif;
$font-museo: "MuseoModerno", cursive;

$font-size-base: 16px;
$line-height-base: 1.6;
