$light: #dfe4ed;
$dark: #101828;
$gray: #667085;
$light-gray: #d0d5dd;
$white: #ffffff;
$black: #000000;
$primary-dark: #00cc90;
$primary-light: #3b42e1;

$colors-plate: (
  light: $light,
  dark: $dark,
);

$grid-breakpoints: (
  tiny: 0px,
  xs: 320px,
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
);

$spacer: 1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: (
  0: (
    x: 0,
    y: 0,
  ),
  1: (
    x: (
      $spacer-x * 0.25,
    ),
    y: (
      $spacer-y * 0.25,
    ),
  ),
  2: (
    x: (
      $spacer-x * 0.5,
    ),
    y: (
      $spacer-y * 0.5,
    ),
  ),
  3: (
    x: $spacer-x,
    y: $spacer-y,
  ),
  4: (
    x: (
      $spacer-x * 1.5,
    ),
    y: (
      $spacer-y * 1.5,
    ),
  ),
  5: (
    x: (
      $spacer-x * 3,
    ),
    y: (
      $spacer-y * 3,
    ),
  ),
);

$z-index: (
  negative: -1,
  zero: 0,
  one: 1,
  header: 100,
  reading-progress: 101,
  modal: 102,
);

$font-serif: "Playfair Display", serif;
$font-sans: "Source Sans Pro", sans-serif;
$font-syne: "Syne", sans-serif;
$font-museo: "MuseoModerno";

$font-size-base: 16px;
$line-height-base: 1.6;
$font-weight-normal: normal;
$font-weight-bold: bold;
