$light: #dfe4ed;
$dark: #101828;
$gray: #667085;
$light-gray: #d0d5dd;
$white: #ffffff;
$black: #000000;
$primary-dark: #00cc90;
$primary-light: #3b42e1;

$colors-plate: (
  light: $light,
  dark: $dark,
);

$breakpoints: (
  xs: em(320px),
  sm: em(480px),
  md: em(768px),
  lg: em(992px),
  xl: em(1200px),
  xxl: em(1600px),
);

$z-index: (
  negative: -1,
  zero: 0,
  one: 1,
  header: 100,
  reading-progress: 101,
  modal: 102,
);

$font-size-base: 16px;
$line-height-base: 1.6;
