.container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  overflow-x: scroll;

  @include media-breakpoint-up(md) {
    max-width: 80%;
  }

  @include media-breakpoint-up(xl) {
    max-width: 70%;
  }
}
