.job-item {
  width: 100%;
  //   border: 1px solid red;
  padding: 24px;
  background-color: hsl(var(--body-bg), calc(50% - 5%));
  //   background-color: var(--body-bg);
  border-radius: 12px;
  margin-bottom: 40px;
  gap: 12px;
  position: relative;
  overflow: hidden;
  //   border: 1px solid red;

  @include respond-up(md) {
    width: calc(100% / 2) - 1.5;
  }

  header {
    padding: 12px 0;
  }

  .icons {
    opacity: 0.4;
    // margin-left: 16px;
    margin-bottom: 16px;
    display: none;
  }

  .job {
    &__position {
      font-weight: bold;
      //   @include fluid-type(16px, 24px);
    }

    &__id {
      position: absolute;
      font-size: 80px;
      font-weight: 900;
      color: var(--body-color);
      opacity: 0.05;
      bottom: -8px;
      right: -6px;
      line-height: 1;
      z-index: map-get($z-index, "zero");
    }
  }
}

html[data-theme="dark"] {
  .job-item {
    background: lighten($dark, 1%);
    box-shadow: 16px 16px 48px rgba(darken($dark, 3%), 0.5);
  }
}

html[data-theme="light"] {
  .job-item {
    background: lighten($light, 1%);
    box-shadow: 16px 16px 48px rgba(darken($light, 3%), 0.5);
  }
}
