.job-item {
  width: 100%;
  //   border: 1px solid red;
  padding: 24px;
  //   background-color: var(--body-bg);
  border-radius: 12px;
  margin-bottom: 40px;
  gap: 12px;
  position: relative;
  overflow: hidden;
  box-shadow: var(--box-shadow-large);
  //   border: 1px solid red;

  //   border: 1px solid red;

  @include media-breakpoint-up(md) {
    width: calc(100% / 2) - 1.5;
    box-shadow: var(--box-shadow-large);
  }

  header {
    padding: 12px 0;
  }

  .icons {
    opacity: 0.4;
    // margin-left: 16px;
    margin-bottom: 16px;
    display: none;
  }

  .job {
    &__position {
      font-weight: bold;
      //   @include fluid-type(16px, 24px);
    }

    &__id {
      position: absolute;
      font-size: 80px;
      font-weight: 900;
      color: var(--body-color);
      opacity: 0.05;
      bottom: -8px;
      right: -6px;
      line-height: 1;
      z-index: map-get($z-index, "zero");
    }
  }
}
