{% import 'src/html/macros/icon.html' as icon %}

<div class="container">
  <nav class="navbar">
    <a href="index.html" class="brand">Jan<span class="text-primary fw-bolder">Sůra</span> </a>

    <button class="menu-toggler" id="menu-toggler">
      <span class="line line__top"></span>
      <span class="line line__middle"></span>
      <span class="line line__bottom"></span>
    </button>
    <button class="theme-switcher">
      {{ icon.icon("sun", "24", "body-color", "svg-icon") }} {{ icon.icon("moon", "24", "body-color", "svg-icon") }}
    </button>

    <ul class="navbar-links" id="navbar-links">
      {% for link in links %}
      <li><a class="nav-link" href="#{{ link.link }}" title="{{ link.title }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</div>
