// Headings
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 900;
}

h1,
.h1 {
  @include fluid-type(40px, 72px);
}

h2,
.h2 {
  @include fluid-type(32px, 64px);
  margin-bottom: 40px;
}

// Links
a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: var(--link-hover-color);
    transition: color var(--transotion-duration) linear;
  }

  &:has(.icon) {
    &:hover {
      .icon {
        transition: fill var(--transotion-duration) linear;
        fill: var(--color-primary);
      }
    }
  }
}

// List
ul {
  list-style: none;
}

.icon {
  &--body-color {
    fill: var(--body-color);
  }

  &--color-primary {
    fill: var(--color-primary);
  }
}
