<!DOCTYPE html>
<html lang="cs" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ siteName }}</title>
  </head>
  <body>
    <header class="sticky sticky--top bg-body-bg">{% include "src/html/partials/header.html" %}</header>
    <main>{% block content %}{% endblock %}</main>
    <footer>{% include "src/html/partials/footer.html" %}</footer>
    <script type="module" src="js/main.js"></script>
  </body>
</html>
