{% extends "src/html/layouts/base.html" %} {% block content %}
<section class="section section__hero">
  <div class="container">
    <p class="hero-top">Ahoj, já jsem</p>
    <h1 class="big-title">Honza<span class="d-none d-sm-inline-block text-primary">Sůra</span></h1>
    <p class="hero-subtitle">web<span class="fw-bolder text-primary">koder</span> & web<span class="fw-bolder text-primary">designer</span>, duší i tělem muzikant a kluk s kšiltovkou</p>
  </div>
  <img src="images/profile-photo.png" alt="Jan Sůra" height="100%" class="" />
</section>
{% endblock %}
