// Google fonts

// Functions
@import "functions/strip-unit";
@import "functions/em";
@import "functions/rem";
@import "functions/tint";
@import "functions/shade";

// Variables
@import "common/variables";

// Mixins
@import "mixins/respond";
@import "mixins/orientation";
@import "mixins/fluid-type";
@import "mixins/clearfix";
@import "mixins/selection";

// Base
@import "base/reset";
@import "base/global";
@import "base/typography";

// Components
@import "components/container";
@import "components/navigation";
@import "components/jobs";
@import "components/separator";
@import "components/icon";
@import "components/social-links";
@import "components/animations";

// Partials
@import "partials/header";
@import "partials/footer";

// Sections
@import "sections/hero";

// Pages
@import "pages/home";

// Utilities
@import "utilities/utilities";

// Print styles
@import "base/print";

.phone-wrapper {
  //   border: 1px solid red;
  //   max-width: 300px;
  height: 460px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;

  .gif {
    position: absolute;
    top: 23px;
    z-index: map-get($z-index, "negative");

    img {
      max-height: 410px !important;
    }
  }
}
